.nav {
    display: flex;
    gap: 12px;
    align-items: center;
}

.link {
    color: black;
    text-decoration: none;
}

.isActive {
    display: inline-block;
    padding: 10px 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;

}

.isActive:hover {
    background-color: #0056b3;
}