.wrapper {
    display: flex;
}

.item {
    display: flex;
    font-size: large;
    width: 300px;
    border: 1px solid #131212;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

.text {
    display: flex;
    gap: 10px;
}

.btn {
    width: 120px;
    padding: 10px;
    display: inline-block;
    padding: 10px 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-left: auto;
}

.btn:hover {
    background-color: #0056b3;
}

.icon {
    color: #007bff;
}