.wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: auto;
}

.name {
    font-weight: 700;
    color: #007bff;
}

.btn {
    width: 120px;
    padding: 10px;
    display: inline-block;
    padding: 10px 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 0 auto;
}

.btn:hover {
    background-color: #0056b3;
}

.username {
    margin-left: auto;
}